@model Assignment.Helpers.ApiResponse<Assignment.Models.Responses.LoanResponse>

<h2>Return Book Result</h2>

@if (Model.Success)
{
    <div class="alert alert-success">

        <p>
            <strong>Loan Id:</strong>
            @Model.Data.LoanId
        </p>

        <p>
            <strong>Book:</strong>
            @Model.Data.BookTitle
        </p>

        <p>
            <strong>Overdue:</strong>
            @Model.Data.IsOverdue
        </p>

        <p>
            <strong>Fine:</strong>
            ₹@Model.Data.OverdueFine
        </p>

    </div>
}
else
{
    <div class="alert alert-danger">

        @foreach (var error in Model.Errors)
        {
            <p>@error.Message</p>
        }

    </div>
}