@using Assignment.Models.Requests
@model ReturnBookRequest

<h2>Return Book</h2>

<form asp-action="Return">

    <div class="mb-3">
        <label>Loan Id</label>
        <input asp-for="LoanId"
               class="form-control" />
    </div>

    <div class="mb-3">
        <label>Member Id</label>
        <input asp-for="MemberId"
               class="form-control" />
    </div>

    <div class="mb-3">
        <label>Condition</label>
        <input asp-for="ReturnCondition"
               class="form-control" />
    </div>

    <button class="btn btn-success">
        Return Book
    </button>

</form>