<div class="container mt-5">

    <h1>Library Management System</h1>

    <hr />

    <a asp-controller="Member"
       asp-action="Register"
       class="btn btn-primary m-2">
        Register Member
    </a>

    <a asp-controller="Book"
       asp-action="Search"
       class="btn btn-success m-2">
        Search Books
    </a>

    <a asp-controller="Loan"
       asp-action="Checkout"
       class="btn btn-warning m-2">
        Checkout Book
    </a>

    <a asp-controller="Loan"
       asp-action="Return"
       class="btn btn-danger m-2">
        Return Book
    </a>

</div>